@import '../variables';
@import '../mixins';

.header {
  width: 100%;
  background: $grey;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;

  &__photo {
    width: 50%;
    position: relative;

    @media (max-width: $breakpoint-mobile-width) {
      width: 100%;
    }
  }

  &__title {
    color: white;
    font-size: 38px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-transform: uppercase;

    @media (max-width: $main-max-width) {
      font-size: 26px;
    }
    @media (max-width: $breakpoint-tablet-width) {
      font-size: 18px;
    }
    @media (max-width: $breakpoint-mobile-width) {
      font-size: 24px;
    }
  }

  &__description {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $breakpoint-mobile-width) {
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__video {
    width: 55%;
  }

  &__subtitle {
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 60%;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    line-height: 1.4em;

    @media (max-width: $breakpoint-tablet-width) {
      width: 90%;
      font-size: 11px;
    }
  }
}
